<a href="https://colab.research.google.com/github/hanseul1215/ESAA_study/blob/master/11_15_%EB%B6%84%EB%A5%982_%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 필요한 라이브러리를 가져옵니다.

In [20]:
import pandas as pd
import lightgbm as lgbm

2. 데이터를 불러옵니다.

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
file1 = '/content/drive/MyDrive/Colab Notebooks/Colab Notebooks/wine/train.csv'
file2 = '/content/drive/MyDrive/Colab Notebooks/Colab Notebooks/wine/test.csv'
file3 = '/content/drive/MyDrive/Colab Notebooks/Colab Notebooks/wine/sample_submission.csv'

In [43]:
train = pd.read_csv(file1)
test = pd.read_csv(file2)
smpl_sub = pd.read_csv(file3)

In [24]:
train.head()

   index  quality  fixed acidity  ...  sulphates  alcohol   type
0      0        5            5.6  ...       0.44     10.2  white
1      1        5            8.8  ...       0.59      9.5    red
2      2        5            7.9  ...       0.52     10.9  white
3      3        6            7.0  ...       0.50     10.8  white
4      4        6            7.8  ...       0.43     10.9  white

[5 rows x 14 columns]

In [25]:
test.head()

   index  fixed acidity  volatile acidity  ...  sulphates  alcohol   type
0      0            9.0              0.31  ...       0.38     11.6  white
1      1           13.3              0.43  ...       0.49      9.0    red
2      2            6.5              0.28  ...       0.69      9.4  white
3      3            7.2              0.15  ...       0.47     10.0  white
4      4            6.8              0.26  ...       0.47     11.8  white

[5 rows x 13 columns]

3. 변수를 변환합니다.

In [45]:
# type에는 white와 red 두 종류가 있습니다.
# 각각 0,1로 변환합니다.
train['type'] = train['type'].replace({'white':0, 'red':1}).astype(int)
test['type'] = test['type'].replace({'white':0, 'red':1}).astype(int)

In [46]:
train.head()

   index  quality  fixed acidity  ...  sulphates  alcohol  type
0      0        5            5.6  ...       0.44     10.2     0
1      1        5            8.8  ...       0.59      9.5     1
2      2        5            7.9  ...       0.52     10.9     0
3      3        6            7.0  ...       0.50     10.8     0
4      4        6            7.8  ...       0.43     10.9     0

[5 rows x 14 columns]

In [47]:
test.head()

   index  fixed acidity  volatile acidity  ...  sulphates  alcohol  type
0      0            9.0              0.31  ...       0.38     11.6     0
1      1           13.3              0.43  ...       0.49      9.0     1
2      2            6.5              0.28  ...       0.69      9.4     0
3      3            7.2              0.15  ...       0.47     10.0     0
4      4            6.8              0.26  ...       0.47     11.8     0

[5 rows x 13 columns]

In [48]:
# 모델에 입력하기 전 데이터를 정형합니다.
# train_x : train의 'index', 'quality' 피처를 제거하고 저장합니다.
# train_y : train의 'quality'를 저장합니다.
# test_x : test의 'index'를 제거하고 저장합니다.
train_x = train.drop(['index', 'quality'], axis=1)
train_y = train['quality']
test_x =test.drop('index', axis=1)

In [49]:
train_x.shape, train_y.shape, test_x.shape

((5497, 12), (5497,), (1000, 12))

In [50]:
train_x.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  type
0            5.6             0.695         0.06  ...       0.44     10.2     0
1            8.8             0.610         0.14  ...       0.59      9.5     1
2            7.9             0.210         0.39  ...       0.52     10.9     0
3            7.0             0.210         0.31  ...       0.50     10.8     0
4            7.8             0.400         0.26  ...       0.43     10.9     0

[5 rows x 12 columns]

In [51]:
train_y.head()

0    5
1    5
2    5
3    6
4    6
Name: quality, dtype: int64

In [52]:
test_x.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  type
0            9.0              0.31         0.48  ...       0.38     11.6     0
1           13.3              0.43         0.58  ...       0.49      9.0     1
2            6.5              0.28         0.27  ...       0.69      9.4     0
3            7.2              0.15         0.39  ...       0.47     10.0     0
4            6.8              0.26         0.26  ...       0.47     11.8     0

[5 rows x 12 columns]

4. LightGBM 모델을 생성 및 훈련합니다.

In [54]:
from lightgbm import LGBMClassifier
model = LGBMClassifier()
model.fit(train_x,train_y)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

5. 생성한 모델로 예측 데이터를 생성합니다.

In [56]:
pred = model.predict(test_x)

6. 제출파일을 생성합니다.

In [57]:
smpl_sub.head()

   index  quality
0      0        0
1      1        0
2      2        0
3      3        0
4      4        0

In [59]:
#서브미션 파일의 quality 변수에 예측값을 대입합니다.
smpl_sub['quality'] = pred

In [60]:
smpl_sub.head()

   index  quality
0      0        5
1      1        5
2      2        5
3      3        5
4      4        6

In [61]:
# csv 파일로 저장합니다.
smpl_sub.to_csv('submission.csv', index=False)